
 *{
    /* outline: 1px solid black; */
    margin: 0px;
} 

body{
    margin: 0px;
    background-color: #DB3A34;
    color: #fdfdfd;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
}
    #contain{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #323031;
        border-radius: 40px;
        width: 700px;
        margin: 10px 0px 0px 0px;
    }
        /* ----------- Top -----------  */
        #top{
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: #323031;
            width: 700px;
            margin: 0px 50px 0px 50px;
            border-radius: 40px;
        }
            #togglePlayers{
                margin-top: 10px;
                padding: 10px 18px 10px 18px;
                color: black;
                font-weight: 700;
                background-color: #FFC857;
                border: 2px solid #FFC857;
                border-radius: 40px;
                transform: translateX(250px);
            }
            #togglePlayers:hover{
                cursor: pointer;   
                background-color: #FFD681;
                border: 2px solid #FFD681;
                cursor: pointer;             
            }
            #heading{
                text-align: center;
                font-size: 28px;
                margin: 50px;
            }
            #startBtn{
                padding: 10px 20px 10px 20px;
                color: black;
                text-align: center;
                font-weight: 700;
                border: none;
                background-color: #FFC857;
                border: 2px solid #FFC857;
                border-radius: 40px;
                font-size: 18px;
                transition: transform 0.5s;
                transition-timing-function: ease-out;
            }
            #startBtn:hover{
                background-color: #FFD681;
                border: 2px solid #FFD681;
                cursor: pointer;
                transform: translateY(-5px);
            }
        
        /* ----------- Middle -----------  */
        #middle{
            width: 700px;
            margin: 0px 50px 0px 50px;
            background-color: #323031;
            display: flex;
            flex-wrap: wrap;
        }
            #middleLeft{
                width: 200px; 
                display: flex;
                flex-direction: column;
                align-items: center;
            }
                #player1Title{
                    visibility: hidden;
                    font-size: 30px;
                    font-weight: 800; 
                }
                #score1{
                    visibility: hidden;
                    font-size: 26px;
                    font-weight: 700;
                }
            #middleCenter{
                width: 300px;   
            }
            #middleRight{
                width: 200px;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
                #player2Title{
                    visibility: hidden;
                    font-size: 30px; 
                    font-weight: 800;                 
                }
                #score2{
                    visibility: hidden;
                    font-size: 26px;
                    font-weight: 700;
                }
                
            /* ----------- Dice ----------- */
            #imageDivs{
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 0;
            }
                .dices{
                    width: 250px;
                    margin: 0px;
                }
                    #diceImg1{display: block; visibility: hidden}
                    #diceImg2{display: none;}
                    #diceImg3{display: none;}
                    #diceImg4{display: none; transform: translateY(-1px);}
                    #diceImg5{display: none;}
                    #diceImg6{display: none; transform: translateY(-1px);}

        #bottom{
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: #323031;
            width: 700px;
            margin: 0px 50px 0px 50px;
            border-radius: 40px;
            max-height: 250px;
        }
            #diceNum{
                visibility: hidden; 
            }
            #rollDiceBtn{
                display: flex;
                align-items: center;
                padding: 10px 20px 10px 20px;
                color: black;
                text-align: center;
                font-weight: 700;
                border: none;
                background-color: #FFC857;
                border: 2px solid #FFC857;
                border-radius: 40px;
                font-size: 18px;
                transition: transform 0.5s;
                transition-timing-function: ease-out;
                visibility: hidden;
                margin: 10px;
            }
            #rollDiceBtn:hover{
                background-color: #FFD681;
                border: 2px solid #FFD681;
                cursor: pointer;
            }
            #holdDiceBtn{
                display: flex;
                align-items: center;
                padding: 10px 25px 10px 20px;
                color: black;
                text-align: center;
                font-weight: 700;
                border: none;
                background-color: #FFC857;
                border: 2px solid #FFC857;
                border-radius: 40px;
                font-size: 18px;
                transition: transform 0.5s;
                transition-timing-function: ease-out;
                visibility: hidden;
                margin: 0px 0px 10px 0px;
            }
            #holdDiceBtn:hover{
                background-color: #FFD681;
                border: 2px solid #FFD681;
                cursor: pointer;
            }
            #scoreNum{
                margin-bottom: 30px;
            }

            .icons{
                width: 25px;
                margin: 0px 3px 0px 0px;
            }
            

            /* class for button press event */
            .done{
                animation: 0.8s shake forwards;
            }

            @keyframes shake{
                0%{
                  transform: translateX(0)
                }
                25%{
                  transform: translateX(4px);
                }
                  
                50%{
                  transform: translateX(-4px);
                }
                100%{
                  transform: translateX(0px);
                }
              }

            .spinner{
                animation: 0.8s spin forwards;
            }

              @keyframes spin{
                0%{
                    transform: rotate(0);
                }
                100%{
                  transform: rotate(360deg);
                }
              }


            

